img {
	float: left;
}
.insertimage {
	float: left;
	border: 10px solid #999;
	padding: 25px;
	background-color: #CCC;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 25px;
	margin-left: 0px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	line-height: 2.5em;
	color: #333;
}
.content {
	background-color: #FC9;
}
.nav {
	background-color: #FF9;
}
.home {
	background-color: #F9F;
}
.doc {
	background-color: #CF9;
}
.companions {
	background-color: #6CF;
}
.villains {
	background-color: #96F;
}
